[submodule "externals/awis"]
	path = externals/awis
	url = https://github.com/muhuk/python-awis.git
[submodule "externals/requests"]
	path = externals/requests
	url = https://github.com/kennethreitz/requests.git
[submodule "externals/requests-oauthlib"]
	path = externals/requests-oauthlib
	url = https://github.com/requests/requests-oauthlib.git
[submodule "externals/oauthlib"]
	path = externals/oauthlib
	url = https://github.com/idan/oauthlib.git
[submodule "externals/flotr2"]
	path = externals/flotr2
	url = https://github.com/HumbleSoftware/Flotr2.git
[submodule "externals/tweepy"]
	path = externals/tweepy
	url = https://github.com/tweepy/tweepy.git
	branch = production
[submodule "externals/gcs-client"]
	path = externals/gcs-client
	url = https://github.com/GoogleCloudPlatform/appengine-gcs-client.git
