
<h3>Domain</h3>

<dt>
	<dt>URL</dt>
	<dd>
	<p>The domain name <a href="${domain}" rel="nofollow" target="_blank">${domain}</a> is <strong>${domainLength} characters long</strong>, which is <span class="label label-success">good</span>.</p>
	</dd>

	<dt>Registration dates</dt>
	<dd>
	<p>The domain <strong>${domain}</strong> was first registered by <span id="domainOwner">N/A</span> on <span id="domainRegistrationDate">N/A</span>.</p>
	<p>Expiration date for the domain is on <span id="domainExpirationDate">N/A</span>. This is <span class="label label-warning">not good</span>.</p>
	</dd>
</dt>

