
<h3>Priority actions</h3>

<div class="ScreenshotMonitor">
	<img id="screenshot" src="/images/1x1.png" alt="{domain} website screenshot" />
</div>

<dl>
	<dt>Successfully passed</dt>
	<dd>0</dd>
	<dt>Room for improvement</dt>
	<dd>0</dd>
	<dt>Important errors to fix</dt>
	<dd>0</dd>
</dl>

<div class="progress">
  <div class="bar bar-success" style="width: 35%;"></div>
  <div class="bar bar-warning" style="width: 20%;"></div>
  <div class="bar bar-danger" style="width: 10%;"></div>
</div>

<h4>Top priorities for your website</h4>

<ol>
	<li>A</li>
	<li>B</li>
	<li>C</li>
	<li>D</li>
	<li>E</li>
</ol>
