
<h3>Priority actions</h3>

<div class="ScreenshotMonitor">
	<img id="screenshot" src="/images/1x1.png" alt="{domain} website screenshot" />
</div>

<dl>
	<dt>Successfully passed</dt>
	<dd id="goodStatuses">0</dd>
	<dt>Room for improvement</dt>
	<dd id="regularStatuses">0</dd>
	<dt>Important errors to fix</dt>
	<dd id="badStatuses">0</dd>
</dl>

<h2>Your score is <span id="score">...</span></h2>

<div id="statuses" class="progress">
<div class="bar bar-success" style="width: 0%;"></div>
<div class="bar bar-warning" style="width: 0%;"></div>
<div class="bar bar-danger" style="width: 0%;"></div>
</div>

<h4>Top priorities for your website</h4>

<ol id="priorityActions">
</ol>
