
<h3>Priority actions</h3>

<div class="ScreenshotMonitor">
	<img id="screenshot" src="/images/1x1.png" alt="{domain} website screenshot" />
</div>

<dl>
	<dt>Successfully passed</dt>
	<dd id="goodStatuses">0</dd>
	<dt>Room for improvement</dt>
	<dd id="regularStatuses">0</dd>
	<dt>Important errors to fix</dt>
	<dd id="badStatuses">0</dd>
</dl>

<h2>${domain} score</h2>

<span itemscope itemtype="http://data-vocabulary.org/Review-aggregate">
The domain <span itemprop="itemreviewed">${domain}</span> has been rated <span itemprop="rating" itemscope itemtype="http://data-vocabulary.org/Rating"> <span id="score" class="badge badge-important" itemprop="average">...</span> out of <span itemprop="best">100</span>
</span> (based on <span itemprop="count">1</span> review)
</span>

<div id="statuses" class="progress">
<div class="bar bar-success" style="width: 0%;"></div>
<div class="bar bar-warning" style="width: 0%;"></div>
<div class="bar bar-danger" style="width: 0%;"></div>
</div>

<h4>Top priorities for your website</h4>

<ol id="priorityActions">
</ol>
