
<dl>
	<dt>Favicon</dt>
	<dd id="pageFavicon">N/A</dd>
	
	<dt>Humans TXT</dt>
	<dd id="humansTxt">N/A</dd>

	<dt>Custom error pages (404)</dt>
	<dd id="custom404">N/A</dd>

	<dt>${_('Page size')}</dt>
	<dd id="pageSize">N/A</dd>

	<dt>Load time</dt>
	<dd>
		<p id="loadTime">N/A</p>
		<div id="loadTimeGauge"></div>
	</dd>

	<dt>${_('Language')}</dt>
	<dd>
		Declared: <span id="declaredLanguage">N/A</span><br />
		Detected: <span id="detectedLanguage">N/A</span>
	</dd>

	<dt>Microformats</dt>
	<dd>N/A</dd>

	<dt>Dublin core</dt>
	<dd>N/A</dd>
</dl>
