<%include file="htmlHeader.html" />
<body data-spy="scroll" data-target=".report-sidenav">

	<div class="container">	

	<div class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="http://${appUrl}/"><img src="/images/logo.png" alt="EGO size logo" style="height: 25px;" /> EGOsize</a>
			</div>
			<div class="collapse navbar-collapse">
				<form action="/analyze" method="post" class="navbar-form navbar-left">
					<div class="input-group">
						<span class="input-group-addon">http://</span>
						<input type="text" name="domain" class="form-control" required="required" autofocus="autofocus" placeholder="www.example.com" />
						<span class="input-group-btn">
							<button type="submit" class="btn btn-primary">Get your free report!</button>
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>

