<%include file="htmlHeader.html" />
<body data-spy="scroll" data-target=".report-sidenav">

	<div class="container">	

	<div class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
				<a class="navbar-brand navbar-left" href="http://${appUrl}/"><img src="/images/logo.png" alt="Egosize SEO/SEM and WPO audit tool" title="Egosize homepage" style="height: 40px; margin-top: -10px;" /></a>
				<form action="/analyze" method="post" class="navbar-form navbar-right" style="width: 80%">
					<div class="input-group">
						<span class="input-group-addon">http://</span>
						<input type="text" name="domain" class="form-control" pattern="^[a-zA-Z0-9_\-\.]+$" required="required" autofocus="autofocus" placeholder="www.example.com" />
						<span class="input-group-btn">
							<button type="submit" class="btn btn-primary">Get your free report!</button>
						</span>
					</div>
				</form>
		</div>
	</div>

