<%include file="htmlHeader.html"/>

<body data-spy="scroll" data-target=".report-sidebar">

	<div class="container">

	<p><a class="brand" href="http://${appUrl}/"></a></p>

	<div class="jumbotron">
		<h2>How <strong>big</strong> is your marketer/developer ego?</h2>
		<p>Improve your site SERP by using EGOsize audit tool which includes key SEM/SEO and WPO optimizations.</p>

		<form action="/analyze" method="post">
		<div class="input-group">
			<span class="input-group-addon">http://</span>
			<input type="text" name="domain" class="form-control input-lg" required="required" autofocus="autofocus" placeholder="www.example.com" />
			<span class="input-group-btn">
				<button type="submit" class="btn btn-primary btn-lg">Get your FREE report now!</button>
			</span>
		</div>
		</form>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-info">
				<div class="panel-heading">Website with fresh reports</div>
				<div class="panel-body">
				<ul>
					% for recentDomain in recentDomains:
					<li><a href="${uriFor( 'staticReport', domainUrl = recentDomain.url  )}">${recentDomain.url}</a></li>
					% endfor
				</ul>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="panel panel-info">
				<div class="panel-heading">Sites with a huge EGO</div>
				<div class="panel-body">
					<ol>
					% for recentDomain in recentDomains:
					<li><a href="${uriFor( 'staticReport', domainUrl = recentDomain.url  )}">${recentDomain.url}</a> <span class="badge">${recentDomain.score}/100</span></li>
					% endfor
					</ol>
				</div>
			</div>
		</div>
	</div>	
</div>

<%include file="userVoice.html"/>

<%include file="footer.html"/>
