<%include file="header.html"/>

<script>
var clientId = '${clientId}';
var domainUrl = '${domain}';
</script>

<h1>${domain}</h1>

<div id="mainProgressBar" class="progress progress-striped active"><div class="bar"></div></div>

<div class="row">

	<div class="report-sidebar span3">
		<p><%include file="/addThis.html"/></p><br />

		<ul class="nav nav-list report-sidenav">
		% for sbOption in sbOptions:
		<li><a href="#${sbOption['id']}" title="${sbOption['keywords']}"><i class="icon-chevron-right"></i> ${sbOption['label']}</a></li>
		% endfor
		</ul>
	</div>

	<div class="span9">
	% for sbOption in sbOptions:
		<div id="${sbOption['id']}">
			% if 'keywords' in sbOption:
				<h3>${sbOption['label']} <small>${sbOption['keywords']}</small></h3>
			% else:
				<h3>${sbOption['label']}</h3>
			% endif
			<%include file="/sections/${sbOption['id']}.html"/>
		</div>
	% endfor
	</div>
</div>

<%include file="footer.html"/>
