<%include file="header.html"/>

<h2>Better optimized websites <small>ranking</small></h2>

<table class="table table-striped">
<thead>
	<tr>
	<th>#</th>
	<th>Score</th>
	<th>Site name and description</th>
	<th>Last report Url</th>
	<th>Website Url</th>
	</tr>
</thead>
<tbody>
% for site in sites:
	<tr>
	<td>${site['position']}</td>
	<td>${site['score']}</td>
	<td>${site['name']}<br /><em>${site['description']}</em></td>
	<td><a href="${site['lastReportUrl']}">View last SEO/Social report</a></td>
	<td><a href="http://${site['url']}" rel="nofollow" target="_blank">${site['url']}</a></td>
	</tr>
% endfor
</tbody>
</table>

<%include file="footer.html"/>
