<%include file="header.html"/>

<h2>Better optimized websites <small>ranking</small></h2>

<table class="table table-striped">
<thead>
	<tr>
	<th>#</th>
	<th>Score</th>
	<th>Site name and description</th>
	</tr>
</thead>
<tbody>
% for site in sites:
	<tr>
	<td>${site['position']}</td>
	<td>
		${site['score']}/100<br />
		<p style="font-size: small;"><a href="${site['lastReportUrl']}" title="View ${site['url']} SEO/SEM audit report">View report</a></p>
	</td>
	<td>
		<a href="http://${site['url']}" rel="nofollow" target="_blank" class="external">${site['url']}</a><br />
		<strong>${site['name']}</strong>: ${site['description']}
	</td>	
	</tr>
% endfor
</tbody>
</table>

<%include file="footer.html"/>
