
body
{
	padding: 5px;
}

div.container
{
}

div#mainProgressBar > div.bar { width: 0%; }

div.ScreenshotMonitor
{
	width: 320px;
	height: 256px;
	background: url('/images/monitor.png') no-repeat;
	text-align: center;
}
	div.ScreenshotMonitor > img
	{
		padding-top: 13px;
		width: 224px;
		max-height: 181px;
	}

.centered-pills { text-align:center; }
.centered-pills ul.nav-pills { display:inline-block; }
.centered-pills li { display:inline; }
.centered-pills a { float:left; }
* html .centered-pills ul.nav-pills { display:inline; } /* IE6 */
*+html .centered-pills ul.nav-pills { display:inline; } /* IE7 */

