
html, body
{
	height: 100%;
}

body
{
	padding: 5px;
	margin: 0px;
}

div.container
{
	background-color: white;
	padding: 15px;
	min-height: 80%;
	border-radius: 10px;
}

div#mainProgressBar > div.bar { width: 0%; }

div.ScreenshotMonitor
{
	width: 320px;
	height: 256px;
	background: url('/images/monitor.png') no-repeat;
	text-align: center;
}
	div.ScreenshotMonitor > img
	{
		padding-top: 13px;
		width: 224px;
		max-height: 181px;
	}

.centered-pills { text-align:center; }
.centered-pills ul.nav-pills { display:inline-block; }
.centered-pills li { display:inline; }
.centered-pills a { float:left; }
* html .centered-pills ul.nav-pills { display:inline; } /* IE6 */
*+html .centered-pills ul.nav-pills { display:inline; } /* IE7 */

.twitter-follow-button { margin-top: 6px; }

a.external
{
	padding-right: 14px;
	margin-right: 4px;
	background: url('/images/external-link.png') no-repeat right 2px;
}

